<!DOCTYPE HTML>
<html>

<%- include("head") -%>

<body>

    <div class="gtco-loader"></div>

    <div id="page">


        <%- include("header-menu") -%>

        <!-- typeof isHome:=== 'boolean' && isHome -->
        <% if(isHome) {%>
        <%- include("header-index") -%>
        <% }else { %>
        <%- include("header") -%>
        <% } %>